<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="description" content ="place your well-thought description here. It is important!"/>
<meta name="author" content="Virtuti-Design" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<!-- defines the width of the page as no wider than the width of the viewport -->

<link href='http://fonts.googleapis.com/css?family=Glegoo' rel='stylesheet'/>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
<link href="/assets/stylesheets/styles.css" rel="stylesheet" />
<link href="/assets/stylesheets/blueberry.css" rel="stylesheet" />
<link href="/assets/stylesheets/tinybox.css" rel="stylesheet" />
<link rel="stylesheet" href="music-player/style.css">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if IE ]><link rel="stylesheet" href="ie.css" media="all"/><![endif]--> 
<link rel="icon" href="favicon.png" />
<title>Musician presskit. Place your description here. Ideally 65 characters or fewer.</title>
</head>

<body>
    <div id="wrapper">
        
    <div id="left">
    <div id="top">
    <figure><img src="/images/badge.png" alt="presskit"/></figure>
    </div><!--top-->
    <aside>
    <ul>
        <li>
            <div class="left-side">
            Artist name 
            </div><!--left-side-->
            <div class="right-side">
            <span class="green">Brey</span>
            </div><!--right-side-->
            <div class="dark-line"></div>
            <div class="light-line"></div>
        </li>
        
        <li>
            <div class="left-side">
            Country of residence 
            </div><!--left-side-->
            <div class="right-side">
            <span class="green">United States of America</span>
            </div><!--right-side-->
            <div class="dark-line"></div>
            <div class="light-line"></div>
        </li>
        
        <li>
            <div class="left-side">
            number of albums released 
            </div><!--left-side-->
            <div class="right-side">
            <span class="green">1</span>  
            </div><!--right-side-->
            <div class="dark-line"></div>
            <div class="light-line"></div>
        </li>
        
        <li>
            <div class="left-side">
            touring
            </div><!--left-side-->
            <div class="right-side">
            <span class="green">yes</span> 
            </div><!--right-side-->
            <div class="dark-line"></div>
            <div class="light-line"></div>
        </li>
        
        <li>
            <div class="left-side">
            member of SACEM
            </div><!--left-side-->
            <div class="right-side">
            <span class="green">no</span> 
            </div><!--right-side-->
            <div class="dark-line"></div>
            <div class="light-line"></div>
        </li>
        
        <li>
            <div class="left-side">
            website
            </div><!--left-side-->
            <div class="right-side">
            <a href="">http://www.BreyMusic.com</a>   
            </div><!--right-side-->
            <div class="dark-line"></div>
            <div class="light-line"></div>
        </li>
        
        <li>
            <div class="left-side">
            email
            </div><!--left-side-->
            <div class="right-side">
            <span class="green">bureaumediagroup@gmail.com </span> 
            </div><!--right-side-->
            <div class="dark-line"></div>
            <div class="light-line"></div>
        </li>
    </ul>
    </aside>
    </div><!--left-->
    
    
    <div id="right">
        
        <!--MAIN PHOTO-->
        
        <div class="main-box">
        <figure id="main-photo"><h1>&middot;Brey&middot;</h1></figure>
        <section class="info">
            
        <!--BIOGRAPHY SECTION-->

        <article>
        <h1>Biography</h1>
        <p>Ad veritus consetetur sea, an per zril conclusionemque. 
        At dolor audiam vim, sea et ferri copiosae. Ei putent mediocrem voluptatum pri, ius incorrupte 
        inciderint disputationi no, eam eu suas mandamus. Illud aliquando no nec.</p>
        <p>Ad veritus consetetur sea, an per zril conclusionemque. 
        At dolor audiam vim, sea et ferri <a href="">patria</a> copiosae. Ei putent mediocrem voluptatum pri, ius incorrupte 
        inciderint disputationi no, eam eu suas mandamus. Illud aliquando no nec.</p>
        <p class="last">Te tollit cotidieque vis. No eirmod apeirian sensibus mea, erat signiferumque eam eu. 
        Has meis sonet eu. At elit putent phaedrum has. Sumo consectetuer sea ex, pro verear nonumes in. Eum quidam legimus recusabo id.</p>  
        </article>
        <div class="grey-line"></div>
        </section><!--info-->
        </div><!--main-box-->
        
        
        
          <!--TIMELINE-->
          <div class="main-box">  
          <section class="info">

          <article>
          <h1>History in brief</h1>
        <div id="timeline">
        <ul id="dates">
            <li><a href="#item1">2004</a></li>
            <li><a href="#item2">2005</a></li>
            <li><a href="#item3">2008</a></li>
            <li><a href="#item4">2010</a></li>
            <li><a href="#item5">2012</a></li>
        </ul>
        <ul id="issues">
            <li id="item1">
                <section>
                <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. 
                Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. 
                Proin metus odio, aliquam eget molestie nec, gravida ut sapien. 
                Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. 
                Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
                </section>
            </li>
            
            <li id="item2">
                <section>
                <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. 
                Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. 
                Proin metus odio, aliquam eget molestie nec, gravida ut sapien. 
                Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. 
                Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
                </section>
            </li>
            
            <li id="item3">
                 <section>
                <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. 
                Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. 
                Proin metus odio, aliquam eget molestie nec, gravida ut sapien. 
                Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. 
                Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
                </section>
            </li>
            
            <li id="item4">
                <section>
                <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. 
                Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. 
                Proin metus odio, aliquam eget molestie nec, gravida ut sapien. 
                Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. 
                Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
                </section>
            </li>
            
            <li id="item5">
                <section>
                <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. 
                Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. 
                Proin metus odio, aliquam eget molestie nec, gravida ut sapien. 
                Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. 
                Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
                </section>
            </li>
        </ul>
        </div><!--timeline ends here-->
          </article>
          <div class="grey-line"></div>
          </section><!--info-->
          </div><!--main-box-->
        
        
        
        <!--DISCOGRAPHY SECTION-->
        
        <div class="main-box">
        <section class="info">
        <article>
        <section class="disco">
        <h1>Discography</h1>
        <p>Te tollit cotidieque vis. No eirmod apeirian sensibus mea, erat signiferumque eam eu. 
        Has meis sonet eu. At elit putent phaedrum has. Sumo consectetuer sea ex, pro verear nonumes in. Eum quidam legimus recusabo id.</p> 
        <ul>
            <li>
                <figure>
                    <img src="/images/00 - Brey_Marvin_Divine_Cassie_Defy_Dream_To_Reality-front-large.jpg" alt=""/>
                    <figcaption>Defy: Dream To Reality</figcaption>
                </figure>
            </li>

            <li>
                <figure>
                    <img src="/images/photo1.jpg" alt=""/>
                    <figcaption>Album Title</figcaption>
                </figure>
            </li>
            
            <li class="last">
                <figure>
                    <img src="/images/photo1.jpg" alt=""/>
                    <figcaption>Album Title</figcaption>
                </figure>
            </li>
        </ul> 
        
        <ul class="last">
            <li>
                <figure>
                    <img src="/images/photo1.jpg" alt=""/>
                    <figcaption>Album Title</figcaption>
                </figure>
            </li>

            <li>
                <figure>
                    <img src="/images/photo1.jpg" alt=""/>
                    <figcaption>Album Title</figcaption>
                </figure>
            </li>
            
            <li class="last">
                <figure>
                    <img src="/images/photo1.jpg" alt=""/>
                    <figcaption>Album Title</figcaption>
                </figure>
            </li>
        </ul> 
        </section><!--disco-->
        
        <section class="list">
        <h2>Released by:</h2> 
        <ul>
            <li>
            <div class="left-side2">
            <p>label name</p>
            </div><!--left-side2-->
            <div class="right-side2">
            <a href=""></a> 
            </div><!--right-side2-->
            </li>

            
            <li>
            <div class="left-side2">
            <p>label name</p>
            </div><!--left-side2-->
            <div class="right-side2">
            <a href=""></a> 
            </div><!--right-side2-->
            </li>
            
            <li>
            <div class="left-side2">
            <p>label name</p>
            </div><!--left-side2-->
            <div class="right-side2">
            <a href=""></a> 
            </div><!--right-side2-->
            </li>

            <li class="last">
            <div class="left-side2">
            <p>label name</p>
            </div><!--left-side2-->
            <div class="right-side2">
            <a href=""></a> 
            </div><!--right-side2-->
            </li>
        </ul>
        </section><!--list-->
        </article>
        <div class="grey-line"></div>
        </section><!--info-->
        </div><!--main-box-->
        
        
        
         <!--MUSIC-->
        
          <div class="main-box">  
          <section class="info">

          <article class="last">
          <h1>Music samples</h1>
          <p>Ad veritus consetetur sea, an per zril conclusionemque. 
          At dolor audiam vim, sea et ferri copiosae. Ei putent mediocrem voluptatum pri, ius incorrupte 
          inciderint disputationi no, eam eu suas mandamus. Illud aliquando no nec.</p>
          <div id="player">
          </div><!--player-->
          </article>
          <div class="grey-line"></div>
          </section><!--info-->
          </div><!--main-box-->
          
          
         <!--MUSIC II-->
        
          <div class="main-box">  
          <section class="info">

          <article class="last">
          <h1>Music samples II</h1>
          <p>Ad veritus consetetur sea, an per zril conclusionemque. 
          At dolor audiam vim, sea et ferri copiosae. Ei putent mediocrem voluptatum pri, ius incorrupte 
          inciderint disputationi no, eam eu suas mandamus. Illud aliquando no nec.</p>
          <div id="playlist">
          <figure><img src="/images/cover.jpg" alt=""/></figure>
    <ul>
    <li><a href="http://demo.virtuti.info/presskit/min/music-player/mix/04 - The Burb.mp3" type="audio/mpeg"><img src="/images/cover.jpg" alt="" style="display:none" />The Burb (play it)</a></li>
    <li><a href="http://demo.virtuti.info/presskit/min/music-player/mix/06 - Nothing Else (Prod KO).mp3" type="audio/mpeg"><img src="/images/cover.jpg" alt="" style="display:none" />Nothing Else (Prod KO) (add it)</a></li>
    <li><a href="http://demo.virtuti.info/presskit/min/music-player/mix/Brey - Devil In the Party.mp3" type="audio/mpeg"><img src="/images/cover.jpg" alt="" style="display:none" />Track 3 (add it)</a></li>
    </ul>
    </div><!--playlist-->
          </article>
          <div class="grey-line"></div>
          </section><!--info-->
          </div><!--main-box-->
        
        
        <!--VIDEO SECTION-->
        
        <div class="main-box">
        <figure id="main-video">
        <iframe src="http://www.youtube.com/watch?v=lBAM0dbpEW0" width="480" height="300" ></iframe>
        <iframe src="http://www.youtube.com/watch?v=I7gVyTLBVzQ" width="480" height="300" ></iframe>
        </figure>
        <section class="info">
        <article>
        <h1>Video reel</h1>
        <p class="last">Brey portrays the same high quality standards that he follows in his tracks and brings these values to his music videos using theatrical work, state of the art editting, and creative angles throughout his visuals in order to bring them to life.</p>  
        </article>
        <div class="grey-line"></div>
        </section><!--info-->
        </div><!--main-box-->
        
        
        <!--PRESS SECTION-->
        
        <div class="main-box">
        <section class="info">
        <article>
        <h1>Press</h1>
        
        <section class="list">
         <h2>Interviews</h2>  
        <ul>
            
            <li>
            <div class="left-side2">
            <p>Young, Morgan. "Urbana Teen Records Rap Song in Honor of Newtown Victims." www.gazette.net. N.p., 17 Jan. 2013. Web. 08 May 2013.</p>
            </div><!--left-side2-->
            <div class="right-side2">
            <a href=""></a> 
            </div><!--right-side2-->
            </li>

            <li>
            <div class="left-side2">
            <p>Dixon, Alexander. "New Music: Brey X Bianca Jade - Newtown (Our Town)." ReUp 30. N.p., 27 Dec. 2012. Web. 08 May 2013.</p>
            </div><!--left-side2-->
            <div class="right-side2">
            <a href=""></a> 
            </div><!--right-side2-->
            </li>

            <li class="last">
            <div class="left-side2">
            <p>nonpop magazine</p>
            </div><!--left-side2-->
            <div class="right-side2">
            <a href=""></a> 
            </div><!--right-side2-->
            </li>
        </ul>
        </section><!--list-->


        <section class="block">
        <h2>Reviews</h2>

        <blockquote>
        <p>Bryson, a junior at Urbana High School, has been rapping for about three years. He has recorded about 300 songs, 30 of which he has released to the public on his website. <a href="">Read More</a></p>
        <cite><a href="">www.Gazette.com</a></cite>
        </blockquote>
    
         <blockquote>
         <p>DMV native and pupil to Logic, Brey decided to do his part by linking up with Bianca Jade to create a track in memory of the Newtown, Connecticut shooting entitled "Newtown (Our Town)" and all the proceeds will go to the relief fund for the tragic incident. <a href="">Read More</a></p>
         <cite><a href="">The-Re-Up.com</a></cite>
         </blockquote>
            
        </section><!--block-->
        </article>
        <div class="grey-line"></div>
        </section><!--info-->
        </div><!--main-box-->
        
        
        <!--SHOWS SECTION--> 
        
        
          <div class="main-box">     
   <div class="blueberry">
      <ul class="slides">
        <li><img class="slider-image" src="/images/IMG_1132.jpg" alt="photo"/></li>
        <li><img class="slider-image" src="/images/IMG_1151.jpg" alt="photo"/></li>
        <li><img class="slider-image" src="/images/IMG_1156.jpg" alt="photo"/></li>
        <li><img class="slider-image" src="/images/IMG_1137.jpg" alt="photo"/></li>
      </ul>
    </div><!--blueberry ends here-->
    <div class="white-line"></div>
    
    
        <section class="info">
        <!--LIST OF GIGS SECTION-->

        <article>
        <h1>Recent shows</h1>
        <p>As a key member of Def Jam signee, XXL Freshman, and Visionary Music Group artists Logic's Rattpack (Real All The Time) movement, Brey has been an big name opener for local DMV (Washington D.C, Maryland Virginia) artists like Logic and C Dot Castro during his first few years on the tour scene. He has also branched out, opening up for artists such as Chris Webby and Mac Miller while recieving enough hype to open for Philadelphia rap phenomenon's OCD: Moosh and Twist to the point where he will be an opening act on their Summer tour covering the East and West Coast.</p>
        
        <table>
        <thead>
        <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Attendance</th>
        </tr>
        </thead>
        <tbody>
        
        <tr>
                <td>
                July 27th, 2011 (Opened for Chris Webby)
                </td>
             
                <td>
                Springfield, Virginia 
                </td>
             
                <td>
                    800
                </td>
        </tr>
        
        <tr>
                <td>
                May 21st, 2011 (Opened for Mac Miller)
                </td>
             
                <td>
                Springfield, Virginia
                </td>
             
                <td>
                    800
                </td>
        </tr>
        
        <tr>
                <td>
                April 14th 2012 (Opened for Logic)
                </td>
             
                <td>
                Alexandria, Virginia 
                </td>
             
                <td>
                    600
                </td>
        </tr>
        
        <tr>
                <td>
                August 13th 2012 (Opened for C Dot Castro)
                </td>
             
                <td>
                Springfield, VA
                </td>
             
                <td>
                    800
                </td>
        </tr>
        
        <tr>
                <td>
                April 20th 2013 (Opened For OCD: Moosh and Twist)
                </td>
             
                <td>
                Philadelphia, PA
                </td>
             
                <td>
                    300
                </td>
        </tr>
        
        <tr>
                <td>
                Summer 2012 (June 12th - June 29th)
                </td>
             
                <td>
                OCD: Moosh and Twist East Coast/West Coast Tour
                </td>
             
                <td>
                    TBA
                </td>
        </tr>
        </tbody>
        </table>
        </article>
        <div class="grey-line"></div>
        </section><!--info-->
        </div><!--main-box-->
        
        
         <!--POSTERS-->
        
          <div class="main-box end"> 
        <div class="portfolio">
        <ul>
            <li onclick="TINY.box.show({image:'/images/pic1-large.jpg',boxid:'frameless',animate:true,openjs:function(){openJS()}})">
                <a href="#"><img src="/images/brey epk 1.PNG" alt="poster"/></a>
                <div class="caption">
                    <p class="caption-inside">Brey 1</p>
                </div>
            </li>
            
            <li  onclick="TINY.box.show({image:'/images/pic1-large.jpg',boxid:'frameless',animate:true,openjs:function(){openJS()}})">
                <a href="#"><img src="/images/brey epk 2.PNG" alt="poster"/></a>
                <div class="caption">
                    <p class="caption-inside">Brey 2</p>
                </div>
            </li>
            
            <li  onclick="TINY.box.show({image:'/images/pic1-large.jpg',boxid:'frameless',animate:true,openjs:function(){openJS()}})">
                <a href="#"><img src="/images/brey epk 3.PNG" alt="poster"/></a>
                <div class="caption">
                    <p class="caption-inside">Brey 3</p>
                </div>
            </li>
            
            <li  onclick="TINY.box.show({image:'/images/pic1-large.jpg',boxid:'frameless',animate:true,openjs:function(){openJS()}})">
                <a href="#"><img src="/images/942740_446674385418284_1279877468_n.jpg" alt="poster"/></a>
                <div class="caption">
                    <p class="caption-inside">Tour Dates</p>
                </div>
            </li>
            
            <li  onclick="TINY.box.show({image:'/images/pic1-large.jpg',boxid:'frameless',animate:true,openjs:function(){openJS()}})">
                <a href="#"><img src="/images/174657_245477442218508_712928058_n.jpg" alt="poster" /></a>
                <div class="caption">
                    <p class="caption-inside">Castro Flier</p>
                </div>
            </li>
            
            <li  onclick="TINY.box.show({image:'/images/pic1-large.jpg',boxid:'frameless',animate:true,openjs:function(){openJS()}})">
                <a href="#"><img src="/images/thereup (2).png" alt="poster"/></a>
                <div class="caption">
                    <p class="caption-inside">Moosh and Twist Flier</p>
                </div>
            </li>
        </ul>  
       <div class='clear'></div><!-- clears the float -->
      </div><!-- portfolio -->    
               
          <section class="info">
          <article class="last">
          <h1>Promo posters</h1>
          <p class="last">Ad veritus consetetur sea, an per zril conclusionemque. 
          At dolor audiam vim, sea et ferri copiosae. Ei putent mediocrem voluptatum pri, ius incorrupte 
          inciderint disputationi no, eam eu suas mandamus. Illud aliquando no nec.</p>
          </article>
          <div class="grey-line"></div>
          </section><!--info-->
          </div><!--main-box-->
        
        
    </div><!--right-->  
    </div><!--wrapper-->

<!--start of scripts-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<!--rotate badge-->
<script src="js/jQueryRotate.2.1.js"></script>
<script>
var angle = 0;
setInterval(function(){
angle+=1;
$("#top").rotate(angle);
},60);
</script>
        
<!--slider-->
<script src="js/jquery.blueberry.js"></script>
<script>
$(window).load(function() {
$('.blueberry').blueberry();
});
</script>

<!--timeline-->
<script src="js/jquery.timelinr-0.9.4.js"></script>
<script> 
$(function(){
$().timelinr()
});
</script>

<!--portfolio-captions-->
<script src="js/portfolio-captions.js"></script>


<!--modal page-->
<script src="js/tinybox.js"></script>

<!--music player-->
<script src="music-player/plugin/jquery.jplayer/jquery.jplayer.js"></script>
<script src="music-player/plugin/ttw-music-player.js"></script>
<script src="music-player/myplaylist.js"></script>

<script type="text/javascript">
$(document).ready(function(){
var description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id tortor nisi. ';
$('#player').ttwMusicPlayer(myPlaylist, {
autoPlay:false, 
description:description
});
});
</script>

<!--yahoo player-->
<script src="http://mediaplayer.yahoo.com/js"></script> 

</body>